<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Asset Movements</title>
</head>
<body>
<h1>Lista de movimientos</h1>

<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>EMPLOYEE</th>
    <th>ASSET_ID</th>
    <th>MOVEMENT_TYPE</th>
    <th>LOCAL_DATE</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="movements : ${assetMovements}">
    <td th:text="${movements.id}">1</td>
    <td th:text="${movements.employee.name}">Oscar</td>
    <td th:text="${movements.asset.id}">oscar@ti.com</td>
    <td th:text="${movements.movementType}">oscar@ti.com</td>
    <td th:text="${movements.assetMovementDate}">oscar@ti.com</td>
  </tr>
  </tbody>
</table>

</body>
</html>
