<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Computers</title>
</head>
<body>
<h1>Computers list</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th>SERIES NUMBER</th>
        <th>ASSETS MOVEMENTS</th>

        <th>RAM</th>
        <th>DISK</th>
        <th>CORE</th>
        <th>SCREEN STATE</th>
        <th>KEYBOARD STATE</th>
        <th>SHELL STATE</th>
        <th>COMMENTS</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="computer : ${computers}">
        <td th:text="${computer.id}">1</td>
        <td th:text="${computer.name}">1</td>
        <td th:text="${computer.description}">1</td>
        <td th:text="${computer.seriesNumber}">1</td>
        <td th:text="${computer.assetMovements}">1</td>


        <td th:text="${computer.ram}">1</td>
        <td th:text="${computer.disk}">1</td>
        <td th:text="${computer.core}">1</td>
        <td th:text="${computer.screenState}">1</td>
        <td th:text="${computer.keyboardState}">1</td>
        <td th:text="${computer.shellState}">1</td>
        <td th:text="${computer.comments}">1</td>
    </tr>
    </tbody>
</table>

</body>
</html>
