<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Purchase</title>
</head>
<body>
<h1>Lista de compras</h1>

<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>VENDOR</th>
    <th>LOCAL DATE</th>
    <th>TOTAL</th>
    <th>PURCHASE DETAIL</th>

  </tr>
  </thead>
  <tbody>
  <tr th:each="purchase : ${purchases}">
    <td th:text="${purchase.id}">1</td>
    <td th:text="${purchase.vendor.name}">1</td>
    <td th:text="${purchase.date}">1</td>
    <td th:text="${purchase.totalAmount}">1</td>
    <td th:text="${purchase.purchaseDetails}">1</td>

  </tr>
  </tbody>
</table>

</body>
</html>
