<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalles de Compra</title>
</head>
<body>
<h1>Detalles de Compra</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Activo</th>
        <th>Cantidad</th>
        <th>Precio por unidad</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="detail : ${purchaseDetails}">
        <td th:text="${detail.id}">1</td>
        <td th:text="${detail.asset.name}">Mouse</td>
        <td th:text="${detail.amount}">5</td>
        <td th:text="${detail.pricePerItem}">1999.99</td>
    </tr>
    </tbody>
</table>

</body>
</html>
